{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <div class="form-wrapper">
        <input type="text" name="name" class="form-body" id="name" value="{{request.form['name']}}" placeholder="">
        <label for="name" class="form-label">Nama Toko</label>
    </div>
    <div class="mb-3">
        <label class="form-label">Kategori</label><br>
        <label for="elektronik" class="form-label">
            <input type="checkbox" name="categories" id="elektronik" value="Elektronik"> Elektronik</label>
        <label for="bahan-makanan" class="form-label"><input type="checkbox" name="categories" id="bahan-makanan"
                                                             value="Bahan Makanan"> Bahan Makanan</label>
        <label for="salon" class="form-label"><input type="checkbox" name="categories" id="salon" value="Salon">
            Salon</label>
        <label for="barbershop" class="form-label"><input type="checkbox" name="categories" id="barbershop"
                                                          value="Barbershop"> Barbershop</label>
    </div>
    <div class="form-wrapper">
        <label for="phone" class="form-label">Nomor HP</label>
        <input type="text" name="phone" class="form-body" id="phone" value="{{request.form['phone']}}" placeholder="">
    </div>
    <div class="form-wrapper">
        <textarea name="description" id="description" class="form-body" placeholder="">{{request.form['description']}}</textarea>
        <label for="description" class="form-label">Deskripsi</label>
    </div>
    <div class="form-wrapper">
        <input type="text" name="open_at" class="form-body" id="open_at" value="{{request.form['open_at']}}" placeholder="" pattern="^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" title="Format salah. Harus dalam format HH:MM (misal: 23:59)">
        <label for="open_at" class="form-label">Buka</label>
    </div>
    <div class="form-wrapper">
        <input type="text" name="close_at" class="form-body" id="close_at" value="{{request.form['close_at']}}" placeholder="" pattern="^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" title="Format salah. Harus dalam format HH:MM (misal: 23:59)">
        <label for="close_at" class="form-label">Tutup</label>
    </div>
    <div class="form-wrapper">
        <input type="text" name="google_maps" class="form-body" id="google_maps" value="{{request.form['google_maps']}}" placeholder="">
        <label for="google_maps" class="form-label">Google Map (URL)</label>
    </div>
    <div class="mb-3">
        <button class="btn btn-sm btn-primary">Simpan</button>
    </div>
</form>
{% endblock content %}