{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="row mb-5 justify-content-between">
            <div class="col">
                <div class="fs-13">Kode</div>
                <p>{{sale.code}}</p>
                <div class="fs-13">Status</div>
                <p>{{ get_status(sale.status) | safe }}</p>
            </div>
            <div class="col">
                <div class="fs-13">Tanggal</div>
                <p>{{sale.sale_date}}</p>
                <div class="fs-13">Kasir</div>
                <p>{{sale.cashier}}</p>
            </div>
        </div>
        <div class="row">
            <table class="mb-5">
                <tbody>
                {% for product in sale.products %}
                <tr class="border-bottom border-dotted">
                    <td class="py-2">
                        <span style="font-size: 11px">{{ product.product_code }}</span> - {{ product.product_name }}
                    </td>
                    <td>{{ product.quantity }} X {{ product.price }}</td>
                    <td>{{ product.amount }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="fw-bold">TOTAL</td>
                    <td class="fw-bold">{{ sale.total_amount }}</td>
                </tr>
                <tr>
                    <td colspan="2">Total Bayar ({{ sale.payment_method }})</td>
                    <td>{{ sale.amount_paid }}</td>
                </tr>
                <tr>
                    <td colspan="2">Kembalian</td>
                    <td>{{ sale.amount_change }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
