{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="row mb-5 justify-content-between">
            <div class="col">
                <div class="fs-13">Kode</div>
                <p>{{sale.code}}</p>
                <div class="fs-13">Status</div>
                <p>{{ get_status(sale.status) | safe }}</p>
            </div>
            <div class="col">
                <div class="fs-13">Tanggal</div>
                <p>{{sale.sale_date}}</p>
                <div class="fs-13">Kasir</div>
                <p>{{sale.cashier}}</p>
            </div>
        </div>
        <div class="row">
            <table class="mb-5">
                <tbody>
                {% for product in sale.products %}
                <tr class="border-bottom border-dotted">
                    <td class="py-2">
                        <span style="font-size: 11px">{{ product.product_code }}</span> - {{ product.product_name }}
                    </td>
                    <td>{{ product.quantity }} X {{ product.price }}</td>
                    <td>{{ product.amount }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="fw-bold">TOTAL</td>
                    <td class="fw-bold">{{ sale.total_amount }}</td>
                </tr>
                </tbody>
            </table>
            <form action="" method="post">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <div class="mb-3">
                    <label class="form-label">Metode Pembayaran</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="cash" value="cash">
                        <label class="form-check-label" for="cash">
                            CASH
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="e-wallet"
                               value="e-wallet">
                        <label class="form-check-label" for="e-wallet">
                            E-Wallet
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="transfer-bank"
                               value="transfer-bank">
                        <label class="form-check-label" for="transfer-bank">
                            Transfer Bank
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="qris"
                               value="qris">
                        <label class="form-check-label" for="qris">
                            QRIS
                        </label>
                    </div>
                </div>

                <div class="mb-3" id="input_amount_paid">
                    <label for="amount_paid" class="form-label">Total Bayar</label>
                    <input type="number" min="0" name="amount_paid" id="amount_paid" class="form-control"
                           value="{{request.form['amount_paid']}}" required>
                </div>

                <div class="mb-3">
                    <button class="btn btn-sm btn-primary">Simpan struk</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
