{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-4">
        <div class="card card-updated">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="">
                        <h5 class="card-title">{{account.username}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"><small>{{account.role}}</small></h6>
                        <!--                        <p class="card-text">{{ account.username }}</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}