{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Nama Toko</label>
        <input type="text" name="name" class="form-control" id="name" value="{{store.name}}" placeholder="john doe">
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Nomor HP</label>
        <input type="text" name="phone" class="form-control" id="phone" value="{{store.phone}}" placeholder="087xxxxxxx">
    </div>
    <div class="mb-3">
        <label class="form-label">Kategori</label><br>
        <input type="checkbox" name="categories" id="elektronik" value="elektronik"
               {% if 'elektronik' in store_categories %} checked {% endif %}>
        <label for="elektronik" class="form-label">Elektronik</label>
        <input type="checkbox" name="categories" id="bahan-makanan" value="bahan makanan"
               {%if 'bahan makanan' in store_categories %} checked {%endif%}>
        <label for="bahan-makanan" class="form-label">Bahan Makanan</label>
        <input type="checkbox" name="categories" id="salon" value="salon"
               {%if 'salon' in store_categories %} checked {%endif%}>
        <label for="salon" class="form-label">Salon</label>
        <input type="checkbox" name="categories" id="barbershop" value="barbershop"
               {%if 'barbershop' in store_categories %} checked {%endif%}>
        <label for="barbershop" class="form-label">Barbershop</label>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Deskripsi</label>
        <textarea name="description" id="description" class="form-control">{{store.description}}</textarea>
    </div>
    <div class="mb-3">
        <label for="open_at" class="form-label">Buka</label>
        <input type="text" name="open_at" class="form-control" id="open_at" value="{{store.open_at}}"
               placeholder="08:00">
    </div>
    <div class="mb-3">
        <label for="close_at" class="form-label">Buka</label>
        <input type="text" name="close_at" class="form-control" id="close_at" value="{{store.close_at}}"
               placeholder="17:00">
    </div>
    <div class="mb-3">
        <label for="google_maps" class="form-label">Google Map (URL)</label>
        <input type="text" name="google_maps" class="form-control" id="google_maps" value="{{store.google_maps}}">
    </div>
    <div class="mb-3">
        <button class="btn btn-sm btn-primary">Simpan</button>
    </div>
</form>
{% endblock content %}