{% extends 'base.html' %}

{% block content %}
<table class="table table-sm">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nama Toko</th>
        <th scope="col">Jam Buka</th>
        <th scope="col">Jam Tutup</th>
        <th scope="col">Status</th>
        <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr>
        <td>{{rows.index(row) + 1}}</td>
        <td>{{row.name}}</td>
        <td>{{row.open_at}}</td>
        <td>{{row.close_at}}</td>
        <td>
            {% if row.is_active %}
            <span class="badge bg-success">Active</span>
            {% else %}
            <span class="badge bg-secondary">Non Active</span>
            {% endif %}
        </td>
        <td>
            <form action="{{ url_for('stores.update_status_store', slug=row.slug) }}" method="post" style="display: inline-block">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <button class="btn btn-sm btn-warning">Change Status</button>
            </form>
            <a href="{{ url_for('stores.update_store', slug=row.slug) }}" class="btn btn-sm btn-primary">Update</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}