<nav class="navbar py-0 navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand fs-3" href="/" style="font-family: 'Spicy Rice'">Point of Sale</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" style="font-size: 14px" href="/master/categories/create">Kategori</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" style="font-size: 14px" href="/master/products/create">Produk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" style="font-size: 14px" href="/master/users">User</a>
                </li>
                <li class="nav-item">
                    <form action="/auth/logout" method="post">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <button type="submit" class="nav-link text-white" style="font-size: 14px">Keluar</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold" style="font-size: 14px">{{current_user.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>