<nav class="navbar py-0 navbar-expand-sm navbar-light bg-primary">
    <div class="container">
        <a class="navbar-brand fs-3 text-light" href="/" style="font-family: 'Spicy Rice'">Point of Sale</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbarNavDropdown">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="nav-link text-white" style="font-size: 14px" href="/">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" style="font-size: 14px" href="/sales">Penjualan</a>
                </li>
                <li class="nav-item">
                    <form action="/auth/logout" method="post">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <button type="submit" class="nav-link text-white"
                                onclick="return confirm('Yakin keluar dari aplikasi ?')"
                                style="font-size: 14px">Keluar
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold" style="font-size: 14px">Hi, {{current_user.username}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--<nav class="navbar py-0 navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container">-->
<!--        <a class="text-dark" style="font-size: 14px; text-decoration: none;">Halo, {{current_user.username}}</a>-->
<!--        <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
<!--            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" style="font-size: 14px" href="/"><i class="fa fa-note"></i> Menu</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" style="font-size: 14px" href="/sales"><i class="fa fa-note"></i> Penjualan</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->